/** For form invalid field for Ionic Angular*/
.ion-invalid.ion-touched ion-label {
    color: var(--ion-color-danger);
}

/** For form invalid field for Angular*/
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.registerForm{
    ion-text{
        font-size: 10px;
    }
    ion-icon{
        font-size: 10px;
    }
}