<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Card
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/images/tree.jpg" alt="tree" (click)="clickMainPage()">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Tree</ion-card-title>
    </ion-card-header> 
    <ion-card-content>      
      Trees alter our environment by using their leaves to filter the air we breathe by removing dust and other particles.
    </ion-card-content>
    <ion-item>
      <ion-label>Likes</ion-label>
      <ion-badge color="tertiary">33k</ion-badge>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/wind.jpg" alt="wind" (click)="clickMainPage()">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Wind</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The environmental impact of wind power when compared to that of fossil fuel power, is relatively minor
    </ion-card-content>
    <ion-item>
      <ion-label>stars</ion-label>
      <ion-badge color="secondary">77k</ion-badge>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/water.jpg" alt="water" (click)="clickMainPage()">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Water</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Water is fundamental to life on our planet, but this precious resource is increasingly in demand and under threat.
    </ion-card-content>
    <ion-item>
      <ion-label>stars</ion-label>
      <ion-badge color="secondary">77k</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
